<% layout('layouts/boilerplate') %>


<div class="row">

  <div class="col-6 offset-3">

    <div class="container d-flex align-items-center mt-5">
      <div class="row justify-content-center">
        <h1>Log In</h1>

        <div class="col-xl">
          <div class="card shadow">
            <img src="https://res.cloudinary.com/drrtkq22t/image/upload/h_610/v1670971127/Yelp%20Camp/welcome_ivhoj1.png" alt="" class="card-img-top" />
            <div class="card-body">
              <form action="/login" method="POST" class="validated-form" novalidate>
                <div class="mb-3">
                  <label class="form-label" for="username"> <strong>Username</strong></label>
                  <input class="form-control" type="text" id="username" name="username" autofocus required>
                  <!-- using autofocus here allows the cursor to be already in this field when the page finishes loading -->
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>

                <div class="mb-3">
                  <label class="form-label" for="password"><strong>Password</strong></label>
                  <input class="form-control" type="password" id="password" name="password" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="d-grid col-12">
                  <button class="btn btn-success">Log In</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>